<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Character</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>
<body class="bg-dark">
  <div id="charSheet">
    <p>Loading character sheet...</p>
  </div>

  <template id="characterTemplate">
    <div class="w-100 character-header py-3" id="charSheetHeader">
      <div class="d-flex text-info text-center" style="width: 100%;">
        <div class="flex-fill" id="nameLevelPic">
          <div id="nameRow"></div>
          <div id="picRow">
            <img src="{{ url_for('static', filename='icons/profile.png') }}" class="img-fluid" style="max-width: 100px;">
          </div>
          <div id="levelRow"></div>
        </div>

        <div class="flex-fill" id="hpAcShield">
          <div id="hpRow">
			HP: <span id="hpDisplay"></span> / <span id="maxHP"></span>
		 </div>
          <div id="acRow"></div>
          <div id="shieldRow"></div>
        </div>

        <div class="flex-fill" id="savesColumn">
          <div id="fortitude"></div>
          <div id="reflex"></div>
          <div id="will"></div>
          <div id="perception"></div>
        </div>
      </div>
    </div>



  <div class="screen-container">
    <div class="screen-track" id="screenTrack">
      <div class="screen justify-content-center" id="statsScreen">
		<div class="row text-info flex-column align-items-center justify-content-center  row-with-border" id="backgroundRow">
			     <div class="table-wrapper w-100">
					<table class="table text-center mx-auto table-bordered">
					  <tr>
						<th class="font-weight-bold text-center">Ancestry</th>
						<th class="font-weight-bold text-center">Background </th>
						<th class="font-weight-bold text-center">Class</th>
					  </tr>
					  <tr>
						<td id="ancestryCell"></td>
						<td id="backgroundCell"></td>
						<td id="classCell"></td>
					  </tr>
					</table>
				</div>
		</div>
         <div class="row text-info row-with-border" id="sizeSpeedRow">
			<div class="table-wrapper w-100">
				<table class="table text-center mx-auto table-bordered">
				  <tr>
					<th class="font-weight-bold text-center font-weight-bold ">Size</th>
					<th class="font-weight-bold text-center font-weight-bold ">Speed </th>
					<th class="font-weight-bold text-center font-weight-bold ">DC</th>
				  </tr>
				  <tr>
					<td id="sizeCell"></td>
					<td id="speedCell"></td>
					<td id="dcCell"></td>
				  </tr>
				</table>
			</div>
		 </div>
		<div class="row text-info" id="statsRow">
			<div class="table-wrapper w-100">
				<table class="table text-center mx-auto table-bordered">
				  <tr>
					<th class="font-weight-bold text-center font-weight-bold ">Str</th>
					<th class="font-weight-bold text-center font-weight-bold ">Con </th>
					<th class="font-weight-bold text-center font-weight-bold ">Dex</th>
					<th class="font-weight-bold text-center font-weight-bold ">Int</th>
					<th class="font-weight-bold text-center font-weight-bold ">Wis </th>
					<th class="font-weight-bold text-center font-weight-bold ">Cha</th>
				  </tr>
				  <tr>
					<td id="strCell"></td>
					<td id="conCell"></td>
					<td id="dexCell"></td>
					<td id="intCell"></td>
					<td id="wisCell"></td>
					<td id="chaCell"></td>
				  </tr>
				</table>
			</div>
		</div>
	  </div>
      <div class="screen d-flex align-items-center flex-column" id="proficienciesScreen">
		<ul class="list-group text-info mt-2" id="listProficiencies">
			<li class="list-group-item d-flex " id="listItemAcrobatics">
				<div class="skill-name">Acrobatics</div>
				<div class="ml-auto skill-modifier" id="modifierAcrobatics"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemArcana">
				<div class="skill-name">Arcana</div>
				<div class="ml-auto skill-modifier" id="modifierArcana"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemAthletics">
				<div class="skill-name">Athletics</div>
				<div class="ml-auto skill-modifier" id="modifierAthletics"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemCrafting">
				<div class="skill-name">Crafting</div>
				<div class="ml-auto skill-modifier" id="modifierCrafting"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemDeception">
				<div class="skill-name">Deception</div>
				<div class="ml-auto skill-modifier" id="modifierDeception"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemDiplomacy">
				<div class="skill-name">Diplomacy</div>
				<div class="ml-auto skill-modifier" id="modifierDiplomacy"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemIntimidation">
				<div class="skill-name">Intimidation</div>
				<div class="ml-auto skill-modifier" id="modifierIntimidation"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemMedicine">
				<div class="skill-name">Medicine</div>
				<div class="ml-auto skill-modifier" id="modifierMedicine"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemNature">
				<div class="skill-name">Nature</div>
				<div class="ml-auto skill-modifier" id="modifierNature"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemOccultism">
				<div class="skill-name">Occultism</div>
				<div class="ml-auto skill-modifier" id="modifierOccultism"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemPerformance">
				<div class="skill-name">Performance</div>
				<div class="ml-auto skill-modifier" id="modifierPerformance"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemReligion">
				<div class="skill-name">Religion</div>
				<div class="ml-auto skill-modifier" id="modifierReligion"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemSociety">
				<div class="skill-name">Society</div>
				<div class="ml-auto skill-modifier" id="modifierSociety"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemStealth">
				<div class="skill-name">Stealth</div>
				<div class="ml-auto skill-modifier" id="modifierStealth"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemSurvival">
				<div class="skill-name">Survival</div>
				<div class="ml-auto skill-modifier" id="modifierSurvival"></div>
			</li>
			<li class="list-group-item d-flex" id="listItemThievery">
				<div class="skill-name">Thievery</div>
				<div class="ml-auto skill-modifier" id="modifierThievery"></div>
			</li>
		</ul>
		
		<ul class="list-group text-info mb-3" id="listLores"></ul>
		<template id="loreItemTemplate">
		  <li class="list-group-item d-flex">
			<div class="lore-name"></div>
			<div class="ml-auto skill-modifier"></div>
		  </li>
		</template>

	  </div>
      <div class="screen d-flex align-items-center flex-column" id="featsScreen">
		<ul class="list-group text-info mt-2" id="listFeats">
			<template id="featTemplate">
				<li class="list-group-item d-flex flex-column">
					<div class="text-info feat-name" id="featName"></div>
					<div class="text-info-small feat-type" id="featType"></div>
				</li>
			</template>
		</ul>
		<ul class="list-group text-info" id="listSpecialFeats">
			<template id="featSpecialTemplate">
				<li class="list-group-item d-flex">
					<div class="text-info feat-name" id="featName"></div>
				</li>
			</template>
		</ul>
	  </div>
      <div class="screen d-flex align-items-center flex-column" id="armorWeaponScreen">
		<ul class="list-group text-info mt-2" id="weaponSection">
			<template id="weaponTemplate">
				<li class="list-group-item d-flex flex-row" id="weaponEntry">
					<div class="d-flex flex-column" id="weaponCharacteristics">
						<div class="text-info font-weight-bold weapon-name" id="weaponName"></div>
						<div class="text-info" id="weaponDamage"></div>
						<div class="text-info" id="weaponAttackRoll"></div>
					</div>
					<div class="d-flex flex-column weapon-flairs ml-1" id="weaponFlairs"></div>
				</li>
			</template>
		</ul>
		<ul class="list-group text-info mt-2" id="armorSection">
			<template id="armorTemplate">
				<li class="list-group-item d-flex flex-row justify-content-between">
					<div class="text-info font-weight-bold armor-name" id="armorName"></div>
					<div class="text-info" id="armorAC"></div>
					<div class="text-info" id="armorDexCap"></div>
					<div class="text-info" id="armorCheckPenalty"></div>
					<div id="armorProficiencyIcon"></div>
				</li>
			</template>
			<template id="shieldTemplate">
				<li class="list-group-item d-flex flex-column" id="shieldEntry">
					<div class="text-info font-weight-bold" id="shieldName"></div>
					<div class="text-info" id="shieldAC"></div>
					<div class="text-info" id="armorHarndess"></div>
					<div class="text-info" id="HP(BT)"></div>
				</li>
			</template>
		</ul>
		<div class="d-flex flex-row text-info" style="margin-bottom:2rem;" id="armorProficiencies">
			<div id="lightArmorProf"></div>
			<div id="mediumArmorProf"></div>
			<div id="heavyArmorProf"></div>
			<div id="unarmoredProf"></div>
		</div>
      </div>
      <div class="screen d-flex flex-column align-items-center" id="spellsScreen">
		<div id="tabButtons" style="margin-top: 1rem;">
		</div>
		<div id="tab-contents">
			<template id="tabSpellsCategory">
				<div class="spell-block">
				  <div class="cast-level text-info" style="margin-top: 1rem;"></div>
				  <ul class="list-group spells-list">
				  </ul>
				</div>
			  </template>
			  
			<div id="tabFocusSpells" class="tab-content" style="display:none;">
				<template id = "focusSpellsListByLevel">
					<li class="list-group-item d-flex flex-row justify-content-between text-info">
					</li>
				</template>
			</div>
			<div id="tabRituals" class="tab-content text-info" style="display:none;">
			</div>
		</div>
	  </div>
      <div class="screen" id="inventoryScreen">Inventory</div>
    </div>
  </div>
  <div id="screenDots" class="dots"></div>
</template>

<div id="hpModal" class="modal hidden">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="text-info">Edit HP</h2>
    <p class="text-info">Current HP: <span id="modalCurrentHP"></span></p>
    <p>
      <input type="number" id="hpAdjustment" placeholder="Enter value">
    </p>
    <div class="modal-buttons">
      <button id="subtractHP" class="btn btn-danger">Damage</button>
      <button id="addHP" class="btn btn-success">Heal</button>
    </div>
  </div>
</div>

<div id="featInfoModal" class="modal hidden">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="featModalText" class="text-info">Loading description...</div>
  </div>
</div>

<div id="spellInfoModal" class="modal hidden">
	<div class="modal-content">
	  <span class="close">&times;</span>
	  <div id="spellModalText" class="text-info">Loading description...</div>
	</div>
  </div>

<script src="{{ url_for('static', filename='character_sheet.js') }}"></script>
</body>
</html>