<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Start page</title>
  <link rel="stylesheet" href={{ url_for('static', filename='theme.css') }}>
</head>
<body>
	<button id="newCharacterBtn">New character</button>

	<div id="newCharacterModal" class="modal hidden">
	  <div class="modal-content">
		<h2>Создание персонажа</h2>
		<button id="createNewBtn">Создать вручную</button>
		<input type="file" id="importJsonInput" accept=".json" hidden />
		<button id="importJsonBtn">Импорт из JSON</button>
		<button id="closeModalBtn">Отмена</button>
	  </div>
	</div>


<div id="saved-characters">
  <h3>Сохранённые персонажи</h3>
  <ul id="characterList"></ul>
</div>

<script src="{{ url_for('static', filename='characters.js') }}"></script>


</body>
</html>
